.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  min-height: 100vh;
  text-align: center;
}

.board {
background-color:  white;
margin-top: 40px;
margin-bottom: 25px;
}

.rightColumn {
  padding-top: 6em;
  display: flex;
  flex-direction: column;
  width: 40%;
}


.text {
  font-size: 50pt;
  color: red;
  font-weight: 900;
  letter-spacing: 4px;
}

.startButton {
  background-color: yellow;
  padding: 12px 50px;
  border-radius: 8px;
  font-size: 15pt;
  font-weight: bold;
  margin-left: 25%;
  margin-bottom: 100px;
  width: 50%;
}
